@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');

html{
  font-size: 100%;
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
}

:root{
  --text-main: rgb(36, 36, 36);
  --text-active: rgb(178, 175, 175);
  --text-input: rgb(44, 97, 11);

  --text-hover: rgb(237, 228, 228);
  --font-font-s-main: 1.7rem;
  --font-font-s-button: 1.3rem;
  --collor-text-button: rgb(154, 154, 154);
  --collor-text-button-hover: rgb(29, 29, 29);
  --border-color: rgb(51, 156, 6)
}